.tabs .indicator {
	background-color: #F39800;
}

.active {
	color: black !important;
	font-weight: bold;
}

.container{
    background-color: #EBEFF1 !important;
}

nav{
	background-color: #171C61;
}

i {
	cursor:pointer;
}