.tabs .indicator {
	background-color: #F39800;
}

.active {
	color: black !important;
	font-weight: bold;
}

.container{
    background-color: #EBEFF1 !important;
}

i {
	cursor:pointer;
}

/*nav*/
nav{
	background-color: #171C61;
	height: 60px;
}

div.nav-wrapper{
	padding: 0 40px;
}

nav .brand-logo{
	position: relative;
}

img.brand-logo-img{
	height: 30px;
	margin-top: 15px;
}

#nav-mobile li{
	height: 60px;
}

img.responsive-img{
	height: 30px;
}

a.dropdown-button{
	padding: 10px 15px;
	height: 60px;
}

/*tabs*/
div.row.tab-wrapper{
	background-color: white;
}


/*memo-list*/
#card-footer.row{
	margin: 0;
}

span.card-title{
	display: block;
	max-height: 4em;
	word-wrap: break-word;
	overflow-y: hidden;
}

p.list-content{
	display: block;
	height: 10em;
	word-wrap: break-word;
	overflow-y: hidden;
}

.card .card-action{
	padding: 15px;
}

.row .col.clip-icon{
	padding:10px 0;
}

.row .col.clip-text{
	padding-top: 15px;
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 10px;
}


.row .col.list-description{
	padding-top: 5px;
}

img.circle.list-profile{
	width: 56px;
	height: 56px;
}

/*memo_detail*/
div.detail.card{
	padding: 3em 8em;
}

html span.url{
	font-style: italic;
	color: #888888;
}

.row .col.detail-profile-col{
	padding: 0;
}

img.circle.detail-profile{
	width: 4.5rem;
	height: 4.5rem;
}

.row .col.detail-description{
	padding: 0.75rem 0.75rem;
	font-weight: bold;
}