{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MemoSquare</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/memosquare/css/base.css">
</head>

<body style="background-color: #EBEFF1">

<!--header-->
<nav class="nav-extended">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">
            <img style="height: 40px" class="responsive-img" src="/static/memosquare/img/logo_main.gif">
            <img style="height: 40px" class="responsive-img" src="/static/memosquare/img/str_memosquare_white.png">
        </a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_anonymous %}
                <li>
                    <a onclick="signIn();" class="waves-effect waves-light btn">sign in</a>
                </li>
            {% else %}
                <li>{{ user.username }}</li>
                <li style="height:64px">
                    <a class='dropdown-button' data-activates='dropdown1'>
                        <img class="circle" style="height:64px" src="{{ user.detail.get_img_url }}"/>
                    </a>
                </li>
            {% endif %}
        </ul>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a onclick="signOut()" class="black-text">sign out</a></li>
        </ul>


        <ul class="side-nav" id="mobile-demo">
            {% if user.is_anonymous %}
                <li><a onclick="signIn();" class="waves-effect waves-light btn">sign in</a></li>
            {% else %}
                <li class="black-text"><a href="#">{{ user.username }}<img class="circle" src="{{ user.detail.get_img_url }}"/></a></li>
                <li><a onclick="signOut()" class="black-text">sign out</a></li>
            {% endif %}
        </ul>

        <ul class="tabs tabs-transparent">
            <li class="tab"><a class="grey-text" onclick="load_memo('/memo/')">MY MEMO</a></li>
            <li class="tab"><a class="grey-text" onclick="load_memo('/memo/clipbook/')">CLIPBOOK</a></li>
            <li class="tab"><a class="grey-text" onclick="load_memo('/square/')" class="active">SQUARE</a></li>
        </ul>
    </div>
</nav>

<br>
<br>
<br>

<div id="container" class="container">
</div>
</body>


<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script>
    var csrf_token = '{{ csrf_token }}';
    // when side-nav not work
    (function ($) {
        $(function () {
            $('.button-collapse').sideNav();
        }); // end of document ready
    })(jQuery); // end of jQuery name space
</script>
<script src="/static/memosquare/js/base.js"></script>
<script>load_memo('/square/');</script>
</html>