{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MemoSquare</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'memosquare/css/base.css' %}">
    <!-- gooogle oauth2 -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="12130227580-iq5bv8mnu8dcv88c1luuimt6dmlgqk1u.apps.googleusercontent.com">
</head>

<body style="background-color: #EBEFF1">

<!--nav-header-->
{% include 'navbar.html' %}


<!-- fucking this item... without this button logout is not work...-->
<div style="display:none" class="g-signin2 center-align" data-width="300" data-onsuccess="sign_in_google"
     data-longtitle="true"></div>

{% block container %}
    {% if not user.is_authenticated %}
        {% include 'login_card.html' %}
    {% else %}
        <script>location.href = "/memo/"</script>
    {% endif %}
{% endblock %}

</body>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="{% static 'memosquare/js/memo.js' %}"></script>
<script src="{% static 'memosquare/js/report.js' %}"></script>
<script src="{% static 'memosquare/js/account.js' %}"></script>
<script src="{% static 'memosquare/js/category.js' %}"></script>
<script src="{% static 'memosquare/js/oauth2_facebook.js' %}"></script>
<script src="{% static 'memosquare/js/oauth2_google.js' %}"></script>
<script>
    /* global variable(fuck google oauth2) */
    var csrf_token = '{{ csrf_token }}';
    var is_authenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};

    $(document).ready(function () {
        // Initialize modal
        $('.modal').modal();

        // Refresh page when category edit/remove modal closed
        $('#category-modal').modal({
            complete: function () {
                location.href = '';
            }
        });

        // Initialize side mobile nav-bar
        $(".button-collapse").sideNav();

        // Check category radio
        var category_id = '{{ request.GET.category }}';
        // if category is empty string,  let radio box id="radio" named 'All' memos be checked...?
        $("#radio" + category_id).prop('checked', true);
    });
</script>
{% block extra_script %}
{% endblock %}
</html>