<table>
    <thead>
    <tr>
        <th>owner</th>
        <th>content</th>
        <th>timestamp</th>
        <th>like</th>
        <th>is_owner</th>
        <th>is_liked</th>
        <th>like</th>
        <th>dislike</th>
    </tr>
    </thead>

    <tbody>
    {% for comment in comment_list %}
        <tr>
            <td>{{ comment.owner }}</td>
            <td>{{ comment.content }}</td>
            <td>{{ comment.timestamp }}</td>
            <td>{{ comment.num_likes }}</td>
            <td>{{ comment.is_owner }}</td>
            <td>{{ comment.is_liked }}</td>
            <td><a class="waves-effect waves-light btn" onclick="like_comment({{ comment.pk }})">like</a></td>
            <td><a class="waves-effect waves-light btn" onclick="dislike_comment({{ comment.pk }})">dislike</a></td>
        </tr>
    {% empty %}
        no comments
    {% endfor %}
    </tbody>
</table>