<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MemoSquare</title>
    <style>
        * {
            background-color: black;
            color: white;
        }
        .inline{
            display: inline-block;
        }
    </style>
</head>
<body>
<div>
    <div class="inline">MEMOsquare</div>
    <div class="inline" style="float: right">
        <button style="background-color: green">login</button>
    </div>
</div>

<div align="center">
    <h1>MEMO²</h1>
</div>

<div align="center">
    <form>
        <input type="text" style="background-color: white; color:gray" value="search your memo..">
        <input type="submit" style="background-color: green" value="dfdf">
    </form>
</div>


<li class="google"><a href="{% url "social:begin" "google-oauth2" %}">Login
with Google</a></li>

</body>
</html>