{% extends 'base.html' %}
{% block container %}
    <div class="custom-container">
        <div class="row">
            <div class="col s12">
                <svg class="svg-medium" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
                <h5 class="category-name">{{ template_title }}</h5>
            </div>
        </div>

        <div class="row">
            {% for memo in memo_list %}
                <div class="col s12 m6 l4">
                    <div class="card white darken-1">
                        <div class="card-content" style="cursor:pointer;"
                             onclick="location.href='/memo/{{ memo.pk }}/'">
                                <span class="card-title black-text">
                                {% if memo.title == '' %} Memo created on {{ memo.timestamp }}{% else %}
                                    {{ memo.title| truncatechars:49 }}{% endif %}
                                </span>
                            {% load memo_filter %}
                            <p class="list-content">{{ memo.content | to_plain | truncatechars:288 | linebreaksbr }}</p>
                        </div>

                        <div class="card-action">
                            <div id="card-footer" class="row">
                                <!-- clip -->
                                <div class="col s1 m1 clip-icon">
                                    {% if memo.is_clipped %}
                                        <i onclick="clip_memo({{ memo.pk }}, false, this)" class="small material-icons">turned_in</i>
                                    {% else %}
                                        <i onclick="clip_memo({{ memo.pk }}, true, this)" class="small material-icons">turned_in_not</i>
                                    {% endif %}
                                </div>
                                <div class="col s3 m3 clip-text">
                                    <span style="margin-left: 5px">{{ memo.num_clips }}</span>
                                </div>

                                <!-- like -->
                                <div>
                                    {% if memo.is_liked %}
                                        <i id="is_liked" onclick="dislike_memo({{ memo.pk }}, this)" class="small material-icons">thumb_up</i>
                                        <i id="is_not_liked" onclick="like_memo({{ memo.pk }}, this)" style="display:none" class="small material-icons">thumb_up</i>
                                    {% else %}
                                        <i id="is_liked" onclick="dislike_memo({{ memo.pk }}, this)" style="display:none" class="small material-icons">thumb_up</i>
                                        <i id="is_not_liked" onclick="like_memo({{ memo.pk }}, this)" class="small material-icons">thumb_up</i>
                                    {% endif %}
                                    <span id="num_likes">{{ memo.num_likes }}</span>
                                </div>

                                <!-- comments -->
                                <div>
                                    <p id="num_comments"><i class="small material-icons">comment</i>{{ memo.num_comments }}</p>
                                </div>

                                <!-- description -->
                                <div class="col s5 m5 right-align list-description">
                                    <span> {{ memo.timestamp }}</span><br>
                                    <span>by {{ memo.owner }}</span>
                                </div>

                                <!-- profile picture -->
                                <div class="col s3 m3">
                                    <span><img class="circle list-profile" src="{{ memo.owner_pic_url }}"/></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                no memo
            {% endfor %}
        </div>
        <div class="row center-align">
            <a class="waves-effect waves-light btn {% if prev == None %}disabled{% endif %}"
               {% if prev != None %}href="{{ prev }}"{% endif %}>
                <i class="material-icons">chevron_left</i>
            </a>
            <a class="waves-effect waves-light btn {% if next == None %}disabled{% endif %}"
               {% if next != None %}href="{{ next }}"{% endif %}>
                <i class="material-icons">chevron_right</i>
            </a>
        </div>
    </div>
{% endblock %}
