{% extends 'base.html' %}
{% block container %}
    <div class="container">
       
        <br>

        <div class="row">
            {% for memo in memo_list %}
                <div class="col s12 m4">
                    <div class="card white darken-1">
                        <div class="card-content" style="cursor:pointer;"onclick="location.href='/memo/{{ memo.pk }}/'">
                        <span class="card-title black-text">
                            {% if memo.title == '' %} Memo created on {{ memo.timestamp }}{% else %}
                                {{ memo.title }}{% endif %}
                        </span>
                            <p>{{ memo.content| truncatechars:100 }}</p>
                        </div>

                        <div class="card-action">
                            <div id="card-footer" class="row">
                                <!-- clip -->
                                <div class="col s11 m1 clip-icon">   
                                        {% if memo.is_clipped %}
                                            <i onclick="clip_memo({{ memo.pk }}, false, this)"
                                               class="small material-icons">turned_in</i>
                                        {% else %}
                                            <i onclick="clip_memo({{ memo.pk }}, true, this)" class="small material-icons">turned_in_not</i>
                                        {% endif %}
                                </div>
                                 <div class="col s11 m4 clip-text">   
                                    <span>
                                        {{ memo.num_clips }} clipped
                                    </span>
                                </div>

                                <!-- description -->
                                <div class="col s6 m4 right-align list-description">
                                        <span> {{ memo.timestamp }}</span><br>
                                        <span>by {{ memo.owner }}</span>
                                </div>

                                <!-- profile picture -->
                                <div class="col s6 m3">
                                    <span><img class="circle list-profile" src="{{ memo.owner_pic_url }}" /></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row center-align">
            <a class="waves-effect waves-light btn {% if prev == None %}disabled{% endif %}"
               {% if prev != None %}onclick="load_memo('{{ prev }}', true)"{% endif %}><i
                    class="material-icons">chevron_left</i></a>
            <a class="waves-effect waves-light btn {% if next == None %}disabled{% endif %}"
               {% if next != None %}onclick="load_memo('{{ next }}', true)"{% endif %}><i
                    class="material-icons">chevron_right</i></a>
        </div>
    </div>
{% endblock %}

