{% extends 'base.html' %}
{% block container %}
<div class="container">
    <h3>Edit page</h3>
    <div class="row white">
        <form class="col s12" onsubmit="return false">
            <div class="row" >
                <div class="input-field col s12">
                    <input name="title" placeholder="Placeholder" id="title" type="text" class="validate"
                           value="{{ memo.title }}">
                    <label for="title">title</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea name="content" id="content" class="materialize-textarea">{{ memo.content }}</textarea>
                    <label for="content">content</label>
                </div>
            </div>
            <!-- Switch -->
            <div class="row switch">
                <label>
                    public
                    <input id="fucking_switch" type="checkbox" name="is_private" {% if memo.is_private %}checked{% endif %}>
                    <span class="lever"></span>
                    private
                </label>
            </div>
            <div class="row">
                <button onclick="edit_memo({{ memo.pk }})" class="btn btn-default deep-purple waves-light">Save</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}