{% extends 'base.html' %}
{% block container %}
    <div class="custom-container">
        <div class="row">
            <div class="col s12">
                <svg class="svg-medium" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/>
                    <path d="M0 0h24v24H0z" fill="none"/>
                </svg>
                <h5 class="category-name">{{ template_title }}</h5>
            </div>
        </div>

        <div class="detail card white">
            <!-- bookmark, goto web icon -->
            <div class="row">
                <div class="right-align col s12">
                    <span class="url">{{ memo.page }}</span>
                    <i onclick='window.open("{{ memo.page }}")' class="small material-icons tooltipped" data-position="top" data-delay="50"
                       data-tooltip="go to the page">web</i>
                </div>
            </div>

            <div class="row">
                <!-- profile image, description -->
                <div class="col s12 m1 detail-profile-col">
                    <div class="box">
                        <img class="detail-profile circle" src="{{ memo.owner_pic_url }}"/>
                    </div>
                </div>

                <div class="col s12 m5 detail-description">
                    <span>{{ memo.timestamp }}</span><br>
                    <span>by {{ memo.user }}</span><br>
                </div>

                <!-- Buttons -->
                <div class="col s12 m6 right-align">

                    <!-- fb share, clip -->
                    <a href="#"><img id="btn-share-fb" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="share on facebook"
                                     onclick="share_memo()" src="/static/memosquare/img/ic_share_web_fb.png"/></a>

                    {% if memo.is_clipped %}
                        <i onclick="clip_memo({{ memo.pk }}, false, this)" class="small material-icons tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="clip/unclip">turned_in</i>
                    {% else %}
                        <i onclick="clip_memo({{ memo.pk }}, true, this)" class="small material-icons tooltipped" data-position="bottom" data-delay="50"
                           data-tooltip="clip/unclip">turned_in_not</i>
                    {% endif %}

                    <!-- edit, delete, lock button -->
                    {% if memo.is_owner %}
                        <i class="small material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="edit"
                           onclick="edit_form({{ memo.pk }})">mode_edit</i>
                        <i class="small material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="delete"
                           onclick="delete_memo({{ memo.pk }})">delete</i>
                        <i class="small material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="private/public"
                           onclick="lock_memo({{ memo.pk }}, this)">{% if memo.is_private %}lock_outline{% else %}lock_open{% endif %}</i>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div style="word-wrap: break-word;" class="col s12">
                    <h4>
                        {% if memo.title == '' %}
                            Memo created on {{ memo.timestamp }}
                        {% else %}
                            {{ memo.title }}
                        {% endif %}
                    </h4>
                </div>
                <div style="word-wrap: break-word;" class="col s12">
                    <p>
                        {% load memo_filter %}
                        {{ memo.content | safe | linebreaksbr }}
                    </p>
                </div>
            </div>

            <div class="row">
               <i class="small material-icons">comment</i><span id="num_comments">{{ memo.num_comments }}</span>
            </div>

            <div class="row">
                {% if memo.is_liked %}
                    <i id="is_liked" onclick="dislike_memo({{ memo.pk }}, this)" class="small material-icons">thumb_up</i>
                    <i id="is_not_liked" onclick="like_memo({{ memo.pk }}, this)" style="display:none" class="small material-icons">thumb_up</i>
                {% else %}
                    <i id="is_liked" onclick="dislike_memo({{ memo.pk }}, this)" style="display:none" class="small material-icons">thumb_up</i>
                    <i id="is_not_liked" onclick="like_memo({{ memo.pk }}, this)" class="small material-icons">thumb_up</i>
                {% endif %}
                <span id="num_likes">{{ memo.num_likes }}</span>
            </div>

            <div class="row">
                <div class="input-field col s8">
                    <input placeholder="Add new comment" id="comment_form" type="text" class="validate">
                    <label for="comment_form">new comment</label>
                </div>
                <a class="waves-effect waves-light btn" onclick="add_comment({{ memo.pk }})">ok</a>
            </div>
            <div id="comment_list" class="row">
                <!-- comment_list will be appended here -->
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
        //for share_memo()
        var memo = {"pk": {{ memo.pk }}, "content": '{{ memo.content | safe }}', "title": '{{ memo.title }}'};

        //append comment_list
        $(document).ready(function () {
            $.ajax({
                'url': '/comment/?memo_pk={{ memo.pk }}&format=html',
                "success": function (response) {
                    $('#comment_list').append(response);
                }
            })
        });
    </script>
{% endblock %}