{% extends "base.html" %}
{% block content %}
<h2>all memo list: admin user only</h2>
<table class="bordered">
    <thead>
    <tr>
        <th>pk</th>
        <th>title</th>
        <th>owner</th>
        <th>content</th>
        <th>page</th>
        <th>clipper</th>
        <th>is_private</th>
        <th>timestamp</th>
    </tr>
    </thead>
    <tbody>
    {% for memo in memo_list %}
        <tr>
            <td>{{ memo.pk }}</td>
            <td>{{ memo.title }}</td>
            <td>{{ memo.owner }}</td>
            <td>{{ memo.content }}</td>
            <td>{{ memo.page }}</td>
            <td>{{ memo.clipper }}</td>
            <td>{{ memo.is_private }}</td>
            <td>{{ memo.timestamp }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}