<div id="modals">
    <!-- Report Modal -->
    <div id="report-modal" class="modal">
        <div class="modal-content">
            <h5>Report form</h5>
            <div class="divider"></div>
            <br>
            <div class="row">
                <br>
                <div class="input-field col s10 offset-s1">
                    <textarea id="report_content" name="content" class="materialize-textarea"></textarea>
                    <label for="report_content">Content</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" onclick="send_report()" class="modal-action waves-effect waves-green btn-flat grey white-text">report</a>
            </div>
        </div>
    </div>

    <!-- Add Category Modal -->
    <div id="add-category-modal" class="modal">
        <div class="modal-content">
            <h5>Add Category</h5>
            <div class="divider"></div>
            <br>
            <div class="row">
                <br>
                <div class="input-field col s10 offset-s1">
                    <input placeholder="new category" id="category_name" type="text" class="validate" name="name">
                    <label for="category_name">name</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" onclick="add_category()" class="modal-action waves-effect waves-green btn-flat grey white-text">Save</a>
            </div>
        </div>
    </div>

    <!-- Category 수정/삭제 모달 -->
    <!-- #response2 will be appended here -->

    <!-- Edit comment Modal -->
    <div id="edit-comment-modal" class="modal">
        <div class="modal-content">
            <h5>Edit comment</h5>
            <div class="divider"></div>
            <br>
            <div class="row">
                <br>
                <div class="input-field col s10 offset-s1">
                    <input type="hidden" id="comment_pk" value=""/>
                    <input placeholder="new category" id="comment_content" type="text" class="validate" value=""/>
                    <label for="comment_content">name</label>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" onclick="edit_comment(this)" class="modal-action waves-effect waves-green btn-flat grey white-text">Save</a>
            </div>
        </div>
    </div>
</div>