<!-- Category 수정/삭제 모달 -->
<div id="category-modal" class="modal">
    <div class="modal-content">
        <h5>Edit Category</h5>
        <div class="divider"></div>
        <br>
        {% for category in category_list %}
            <div class="row">
                <div class="col s8 offset-m2 m6 input-field">
                    <input value="{{ category.name }}" type="text">
                </div>
                <div class="col s4 m4">
                    <i class="material-icons" onclick="delete_category({{ category.pk }}, this)">delete</i>
                </div>
                <div class="col s4 m4">
                    <i class="material-icons" onclick="edit_category({{ category.pk }}, this)">save</i>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer">
        <a class="modal-action waves-effect modal-close waves-green btn-flat grey white-text">Confirm</a>
    </div>
</div>

<!-- Add Category Modal -->
<div id="add-category-modal" class="modal">
    <div class="modal-content">
        <h5>Add Category</h5>
        <div class="divider"></div>
        <br>
        <div class="row">
            <br>
            <div class="input-field col s10 offset-s1">
                <input placeholder="new category" id="new-name" type="text" class="validate" name="name">
                <label for="new-name">name</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" onclick="add_category()" class="modal-action waves-effect waves-green btn-flat grey white-text">Save</a>
        </div>
    </div>
</div>


<!-- Report Modal -->
<div id="report-modal" class="modal">
    <div class="modal-content">
        <h5>Report form</h5>
        <div class="divider"></div>
        <br>
        <div class="row">
            <br>
            <div class="input-field col s10 offset-s1">
                <textarea id="textarea" name="content" class="materialize-textarea"></textarea>
                <label for="textarea">Content</label>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#" onclick="send_report()" class="modal-action waves-effect waves-green btn-flat grey white-text">report</a>
        </div>
    </div>
</div>