<!-- fucking materialize tab and indicator -->
<div class="row tab-wrapper">
    <div class="col s12 m8 offset-m2">
        <ul class="tabs tabs-transparent tabs-fixed-width">
            {% if request.path == '/' %}
                <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>
                <script>
                // remove tab indicator and active
                function removeTab(){
                    $('li.tab > a').removeClass('active');
                    $('.indicator').hide();
                }
                window.onload = function() {
                    window.setTimeout(removeTab, 1);
                }
                </script>
            {% elif request.path == '/memo/' %}
                <li class="tab"><a target="_self" class="grey-text active" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>

            {% elif request.path == '/memo/clipbook/' %}
                <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text active" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>

            {% elif request.path == '/square/' %}
                <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text active" href="/square/">SQUARE</a></li>

            <!-- detail page, my_memo-->
            {% elif memo.is_owner %}
                <li class="tab"><a target="_self" class="grey-text active" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>

            <!-- detail page, not my_memo -->
            {% elif not memo.is_owner %}
                <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text active" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>
            {% else %}
                ???
            {% endif %}
        </ul>
    </div>
</div>