<!DOCTYPE html>
<html lang="en">
<head>
    <title>MemoSquare report form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
</head>
<body>
<div class="row">
    <form action="/report/" method="POST" class="col s12">
        {% csrf_token %}
        <div class="input-field col s12">
          <textarea id="textarea" name="content" class="materialize-textarea"></textarea>
          <label for="textarea">Content</label>
        </div>
        <button class="waves-effect waves-light btn" type="submit">report</button>
    </form>
</div>
</body>
</html>