<div class="row tab-wrapper">
    <div class="col s12 m4 offset-m4">
        <ul class="tabs tabs-transparent">
            {% if request.path == '/memo/' %}
            <li class="tab"><a target="_self" class="grey-text active" href="/memo/">MY MEMO</a></li>
            <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
            <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>
            {% elif request.path == '/memo/clipbook/' %}
            <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
            <li class="tab"><a target="_self" class="grey-text active" href="/memo/clipbook/">CLIPBOOK</a></li>
            <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>
            {% elif request.path == '/square/' %}
            <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
            <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
            <li class="tab"><a target="_self" class="grey-text active" href="/square/">SQUARE</a></li>
            {% else %}
            <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
            <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
            <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>
            <script>
                // fucking materialize..
                function removeTab(){
                    $('li.tab > a').removeClass('active');
                    $('.indicator').hide();
                }
                window.onload = function() {
                    window.setTimeout(removeTab,500)

                }
            </script>
            {% endif %}
        </ul>
    </div>
</div>


