<!-- fucking materialize tab and indicator -->
<div class="row tab-wrapper">
    <div class="col s12 m4 offset-m4">
        <ul class="tabs tabs-transparent">
            {% if request.path == '/memo/' %}
                <li class="tab"><a target="_self" class="grey-text active" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>

            {% elif request.path == '/memo/clipbook/' %}
                <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text active" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>

            {% elif request.path == '/square/' %}
                <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text active" href="/square/">SQUARE</a></li>

            <!-- detail page, my_memo-->
            {% elif memo.is_mymemo %}
                <li class="tab"><a target="_self" class="grey-text active" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>

            <!-- detail page, not my_memo -->
            {% elif not memo.is_mymemo %}
                <li class="tab"><a target="_self" class="grey-text" href="/memo/">MY MEMO</a></li>
                <li class="tab"><a target="_self" class="grey-text active" href="/memo/clipbook/">CLIPBOOK</a></li>
                <li class="tab"><a target="_self" class="grey-text" href="/square/">SQUARE</a></li>
            {% else %}
                ???
            {% endif %}
        </ul>
    </div>
</div>